---
layout: compress
---
{% include base_path %}
<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>
<body>
  {% include masthead.html %}
  <div id="main" role="main" class="main-container">
    <div class="shell">
      <aside class="rail">
        {% include author-profile.html %}
      </aside>
      <article class="page content">
        {{ content }}
      </article>
    </div>
  </div>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
